body{
    margin: 0px;
}
header{
    background-color: #5656ee;
    padding: 40px 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img2{
    float: right;
    margin: 10px;
}
#img3{
    float: left;
    margin: 10px;
}
#img4{
    float: right;
    margin: 10px;
}
#img5{
    float: left;
    margin: 10px;
}
#div1{
    background-image: url(doctor1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#b1{
    background-color: #5656ee;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer; 
    font-weight: bolder;
}
#div2{
    display: inline-block;
    padding: 20px 20px;
    justify-content: flex-end;
}
#b1:hover{
    background-color: blue;
}
.box1{
    background-color:rgba(239, 241, 235, 0.819);
    box-shadow: 3px 3px 5px;
    display: flow-root;
    margin: right;
}
.box2{
    background-color:rgba(239, 241, 235, 0.819);
    box-shadow: 3px 3px 5px;
    display: flow-root;
}
.box3{
    background-color:rgba(239, 241, 235, 0.819);
    box-shadow: 3px 3px 5px;
    display: flow-root;
    margin: left;
}
.box4{
    background-color:rgba(239, 241, 235, 0.819);
    box-shadow: 3px 3px 5px;
    display: flow-root;
}
.box5{
    background-color: blue;
    color: white;
    padding: 20px 20px;
    display: block;
    
}
.box6 ul{
    list-style-type: none;
    display: inline;
}
.box6 li:hover{
    background-color: blue;
}

.box6{
    display: inline-block;
    padding: 30px;
    mix-blend-mode: multiply;
}
.box7{
    background-color: #5656ee;
}
.box8{
    float: right;
}
big{
    font-weight: bold;
}
h2{
    color: blue;
    margin: 10px;
}
h1{
    color: blue;
    margin: 10px;
}
p{
    margin: 10px;
}
.logo{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
*{
    text-decoration: none;
}
#l1{
    list-style: none;
}
#l1{
    display: inline-block;
    position: relative;
}
ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    display: none;
    background-color: #5656ee;
    padding: 20px 20px;
}
ul li a:hover{
    background-color: #6363ed;
}
ul li:hover ul.dropdown{
    display: block;
}
.social ul{
    list-style: none;
    padding: 10px;
    background-color: #5656ee;
    
}
#social li{
    padding: 5px;
    display: inline-block;
}
.social{
    justify-content: center;
    display: flex;
}
#sp{
    display: inline-block;
}
#sp ul{
    list-style-type: none;
}